<section id="signin">
    <div class="container">
       <form [formGroup]="signIn" (ngSubmit)="signIn.valid&&FormData()">
           <div class="form w-50 m-auto">

               <input [class.is-valid]="signIn.controls.email.status=='VALID'" formControlName="email"  type="email" placeholder="Enter Email" class="form-control my-3">
               <div *ngIf="signIn.controls.email.errors &&signIn.controls.email.touched  " class="alert alert-danger" role="alert">
                Email is required
            </div>

               <input [class.is-valid]="signIn.controls.password.status=='VALID'"  formControlName="password"  type="password" placeholder="Enter password" class="form-control my-3">
               <div *ngIf="signIn.controls.password.errors &&signIn.controls.password.touched  " class="alert alert-danger" role="alert">
                password is required
            </div>

               <button [disabled]="signIn.invalid" class="btn btn-info w-100">Sign In</button>

           </div>
       </form>
   </div>
</section>
<!-- <select class="hmbozo">
    <option>cairo</option>
    <option>bns</option>
    <option>alex</option>
</select> -->

<!-- <svg id="barcode"></svg> -->
