/* You can add global styles to this file, and also import other style files */
#signup
{
    background-color: #343a40!important;
}
#signin
{
    background-color: #343a40!important;
}
#profile
{
    background-color: #343a40!important;
}
